 <footer>
  <div class="container footerLinks">

    <div class="col-sm-3">
      <h3>Company</h3>
      <ul class="footerItem">
        <li><a ui-sref="app.userRecipes" >My Recipes</a></li>
        <li><a ui-sref="app.shoppingLists">Shopping List</a></li>
        <li><a href="#">Past Orders</a></li>
      </ul>
    </div>

    <div class="col-sm-3">
      <h3>Support</h3>
      <ul class="footerItem">
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Platform Partners</a></li>
      </ul>
    </div>

    <div class="col-sm-3">
      <h3>About</h3>
      <ul class="footerItem">
        <li><a ui-sref="app.about">About Us</a></li>
        <li><a ui-sref="app.about">The Team</a></li>
        <li><a ui-sref="app.about">Why Company?</a></li>
      </ul>
    </div>

    <div class="col-sm-3">
      <h3>Social</h3>
      <ul class="footerItem">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>

 
 
      