  <nav class="foodNav navbar navbar-default">
    <div class="navContainer container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navLink"  id="logoLink" ui-sref="app.home">LOGO</a></li>
        <li><a class="navLink" ui-sref="app.userRecipes">My Recipes</a></li>
        <li><a class="navLink" ui-sref="app.shoppingLists">Shopping List</a></li>
      </ul>
      <ul class="foodNavItems nav navbar-nav navbar-right">
        <li class="navLink" id="navLogin"><a ui-sref="app.login">Login</a></li>
        <li class="regLink" id="regLogin"><a ui-sref="app.login">Register</a></li>
      </ul>
    </div>
  </nav>
