  <nav class="foodNav navbar navbar-default">
    <div class="navContainer container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navLink"  id="logoLink" ui-sref="home">LOGO</a></li>
        <li><a class="navLink" ui-sref="myRecipes">My Recipes</a></li>
        <li><a class="navLink" ui-sref="shoppingList">Shopping List</a></li>
      </ul>
      <ul class="foodNavItems nav navbar-nav navbar-right">
        <li class="navLink" id="navLogin"><a ui-sref="login">Login/Register</a></li>
      </ul>
    </div>
  </nav> 
